# NM Supercomputing Challenge 2020

## Session #1 (Mark Servilla): Introduction to Git and GitHub, Jupyter Notebooks, Python, and pandas

---
## Interacting with Git and GitHub

 1. Fork the [2020-10-03-nmcsa-pangeo](https://github.com/nmcarpentries/2020-10-03-nmcsa-pangeo) repository to your GitHub account
 1. Click on the **launch-binder** button near the top of the README.md file (see README.md instructions)
 1. Once the *Pangeo Binder* is launched and you see the *JupyterLab* environment, click on the **terminal** button near the bottom of the *Launcher* tab
 1. In the terminal window (Linxu Bash shell), we will configure this local Git instance for your profile and set it up to use your "forked" repository for saving changes from this Binder environment to your GitHub account:  
   ```
   export PS1="> "
   git config user.email "mark.servilla@gmail.com"
   git config user.name "Mark Servilla"
   git remote set-url origin https://github.com/servilla/2020-10-03-nmcsa-pangeo
   git remote -v
     origin  https://github.com/servilla/2020-10-03-nmcsa-pangeo (fetch)
     origin  https://github.com/servilla/2020-10-03-nmcsa-pangeo (push)
   ```

 #### Come to this step at the end of each session
 5. To save the work you have just done in this session, we'll use Git to *push* our changes back to your GitHub account. But first, you should always perform a `git pull` before doing your *push*:
   ```
   git pull
   git add *
   git commit -m "Saving changes to GitHub"
   git push
     Username for 'https://github.com': servilla
     Password for 'https://servilla@github.com':
     Counting objects: 4, done.
     Delta compression using up to 6 threads.
     Compressing objects: 100% (3/3), done.
     Writing objects: 100% (4/4), 505 bytes | 505.00 KiB/s, done.
     Total 4 (delta 2), reused 0 (delta 0)
     remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
     To https://github.com/servilla/2020-10-03-nmcsa-pangeo
        2963446..0e25a7d  master -> master
   ```

---
## Working with Jupyter Notebooks

"Jupyter notebooks are documents that combine live runnable code with narrative text (Markdown), equations (LaTeX), images, interactive visualizations and other rich output. Jupyter notebooks (.ipynb files) are fully supported in JupyterLab. The notebook document format used in JupyterLab is the same as in the classic Jupyter Notebook. Your existing notebooks should open correctly in JupyterLab." - https://jupyterlab.readthedocs.io/en/stable/user/notebook.html

Types of cells:
  1. Raw cell - to display raw text
  1. Code cell - to enter and execute code
  1. Markdown cell - to enter and display markdown (like this cell)

Common keyboard commands:
 - Esc - Enter command mode
 - Enter - Enter edit mode
 - Ctrl-Enter - Run cell
 - Alt-Enter - Run cell and insert new cell below
 - X - Delete cell
 - C - Copy Cell
 - A - Insert cell above
 - B - Insert cell below

[Keyboard Shortcuts](https://blog.ja-ke.tech/assets/jupyterlab-shortcuts/Shortcuts2020.png)

---
## Python quickstart

What is Python?
 - named after the British comedy troup "Monty Python"
 - is an interpreted computer language
 - developed by Guido van Rossum in 1991.

### Comments:

In [1]:
x = 1  # Comments begin with a "hash" or "sharp" character x = 1

### Built in data types:

In [2]:
# Variables in python are symbolic names for data expressions and are created
# with the assignment operator "="; variable names may include numbers, but
# must start with a letter:

text = "Data Carpentry"  # An example of a string
number = 42  # An example of an integer
pi_value = 3.1415  # An example of a float
is_true = True  # An example of a boolean

In [3]:
text

'Data Carpentry'

In [4]:
number

42

In [5]:
pi_value

3.1415

In [6]:
is_true

True

In [7]:
# We can also use the built-in function "print" to produce visual output of
# expressions and variables

print("This is a text string: ", text)
print("This is an integer number: ", number)
print("This is a floating point or real number: ", pi_value)
print("This is a boolean: ", is_true)

This is a text string:  Data Carpentry
This is an integer number:  42
This is a floating point or real number:  3.1415
This is a boolean:  True

In [8]:
# The built-in "type" function tells us what data type each variable is using

print("text is type: ", type(text))
print("number is type: ", type(number))
print("pi_value is type: ", type(pi_value))
print("is_true is type: ", type(is_true))

text is type:  <class 'str'>
number is type:  <class 'int'>
pi_value is type:  <class 'float'>
is_true is type:  <class 'bool'>

### Operators:

In [10]:
# We can perform mathematical calculations in Python using the basic operators
# +, -, /, *, %

addition = 2 + 2
subtraction = 10 - 5
multiplication = 4 * 2
float_quotient = 12 / 5
integer_quotient = 12 // 5
remainder = 12 % 5
exponentiation = 2 ** 10

In [11]:
print("addition = 2 + 2: ", addition)
print("subtraction = 10 - 5: ", subtraction)
print("multiplication = 4 * 2: ", multiplication)
print("float_quotient = 12 / 5: ", float_quotient)
print("integer_quotient = 12 // 5: ", integer_quotient)
print("remainder = 12 % 5: ", remainder)
print("exponentiation = 2 ** 10: ", exponentiation)

addition = 2 + 2:  4
subtraction = 10 - 5:  5
multiplication = 4 * 2:  8
float_quotient = 12 / 5:  2.4
integer_quotient = 12 // 5:  2
remainder = 12 % 5:  2
exponentiation = 2 ** 10:  1024

In [14]:
# We can also use conditional operators: <, >, ==, !=, <=, >=

less_than = 7 < 6
greater_than = 6 > 4
is_equal = 5 == 5
is_not_equal = 5 != 7
less_than_or_equal = 2 <= 3
greater_than_or_equal = 4 >= 3

In [15]:
print("less_than = 7 < 6: ", less_than)
print("greater_than = 6 > 4: ", greater_than)
print("is_equal = 5 == 5: ", is_equal)
print("is_not_equal = 5 != 7: ", is_not_equal)
print("less_than_or_equal = 2 <= 3: ", less_than_or_equal)
print("greater_than_or_equal = 4 >= 3: ",greater_than_or_equal)

less_than = 7 < 6:  False
greater_than = 6 > 4:  True
is_equal = 5 == 5:  True
is_not_equal = 5 != 7:  True
less_than_or_equal = 2 <= 3:  True
greater_than_or_equal = 4 >= 3:  True

In [16]:
# And logical comparisons using and, or, & not identities

and_comparison = True and True
or_comparison = True or False
not_comparison = not False

In [17]:
print("and_comparison = True and True: ", and_comparison)
print("or_comparison = True or False: ", or_comparison)
print("not_comparison = not False: ", not_comparison)

and_comparison = True and True:  True
or_comparison = True or False:  True
not_comparison = not False:  True

### Lists and Dictionaries:

In [18]:
# Lists are a common data structure to hold an ordered sequence of elements.
# Each element can be accessed by an index. Note that Python indexes start
# with 0 instead of 1

numbers = [1, 2, 3]
numbers[0]

1

In [19]:
# A for loop can be used to access the elements in a list or other Python
# data structure one at a time. Indentation is very important in Python.
# Note that the second line in the example below is indented.

for num in numbers:
    print(num)

1
2
3

In [20]:
# To add elements to the end of a list, we can use the append method. Methods
# are a way to interact with an object (a list, for example). We can invoke a
# method using the dot . followed by the method name and a list of arguments
# in parentheses. Let’s look at an example using append:

numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [22]:
# A dictionary is a container that holds pairs of objects - keys and values:

translation = {'one': 'first', 'two': 'second'}
translation['two']

'second'

In [23]:
# To add an item to the dictionary we assign a value to a new key:

rev = {'first': 'one', 'second': 'two'}
print(rev)
rev['third'] = 'three'
print(rev)

{'first': 'one', 'second': 'two'}
{'first': 'one', 'second': 'two', 'third': 'three'}

In [24]:
# Using for loops with dictionaries is a little more complicated:

for key, value in rev.items():
    print(key, '->', value)

first -> one
second -> two
third -> three

### Functions:

In [25]:
# Defining a section of code as a function in Python is done using the def
# keyword. For example a function that takes two arguments and returns their
# sum can be defined as:

def add_function(a, b):
    result = a + b
    return result

z = add_function(20, 22)
print(z)

42

---
## Introduction to Python Pandas

 - "pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python." - https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html
 - pandas was created by Wes McKinney in 2008 and the name *pandas* is derived from the term "panel data" used in the field of economics.
 - Think of pandas as a combination of spreadsheet, database, and statiscal software rolled into a single Python package.

Python doesn’t load all of the libraries available to it by default. We have to add an import statement to our code in order to use library functions. To import a library, we use the syntax import libraryName. If we want to give the library a nickname to shorten the command, we can add as nickNameHere. An example of importing the pandas library using the common nickname pd is below.

You must install, then `import` pandas to use it in the notebook:

In [26]:
# The exclamation point built-in allows you to execute shell commands

!pip install pandas

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting pandas
  Downloading pandas-1.1.2-cp37-cp37m-manylinux1_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 3.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 34.1 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.2-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 43.1 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.2 pandas-1.1.2 pytz-2020.1

In [27]:
import pandas as pd

### What is a pandas' DataFrame?

"A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in R. A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure." - https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html

Reading the data file `./data/surveys.csv`:

In [28]:
# Note that pd.read_csv is used because we imported pandas as pd
surveys_df = pd.read_csv("data/surveys.csv")

### Viewing the contents of a the *surveys* DataFrame:

In [29]:
# We can use the print function to display the DataFrame:

print(surveys_df)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[35549 rows x 9 columns]

In [30]:
# But just letting the Jupyter Notebook format the default output is much nicer:

surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

### Exploring the structure of the *surveys* DataFrame:

In [31]:
# We can look at the top of the DataFrame with the head fucntion:

surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [32]:
# We can look at the bottom of the DataFrame with the tail fucntion:

surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [33]:
# We can look at the data type of the DataFrame with the Python type function:

type(surveys_df)

pandas.core.frame.DataFrame

In [34]:
# We can look at the columns of the DataFrame with the columns variable:

surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [35]:
# We can look at the shape of the DataFrame with the shape variable:

surveys_df.shape

(35549, 9)

In [36]:
# We can look at the data types of teh DataFrame with the dtypes variables:

surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

### Analyzing and calculating statistics on the *surveys* DataFrame:

In [37]:
# We can compute summary statistics of the DataFrame with the describe function:

surveys_df.describe()

,record_id,month,day,year,plot_id,hindfoot_length,weight
count,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000,31438.000000,32283.000000
mean,17775.000000,6.477847,15.991195,1990.475231,11.397001,29.287932,42.672428
std,10262.256696,3.396925,8.257366,7.493355,6.799406,9.564759,36.631259
min,1.000000,1.000000,1.000000,1977.000000,1.000000,2.000000,4.000000
25%,8888.000000,4.000000,9.000000,1984.000000,5.000000,21.000000,20.000000
50%,17775.000000,6.000000,16.000000,1990.000000,11.000000,32.000000,37.000000
75%,26662.000000,10.000000,23.000000,1997.000000,17.000000,36.000000,48.000000
max,35549.000000,12.000000,31.000000,2002.000000,24.000000,70.000000,280.000000

In [ ]:
# We can compute the unique values in a categorical column of the Data Frame:

surveys_df["species_id"].unique()

In [ ]:
# We can compute statistics for a single column of the DataFrame:

surveys_df['weight'].describe()

In [ ]:
# We can computes statistics about categories in a column of the DataFrame:

grouped_data = surveys_df.groupby('sex')
grouped_data.describe()

In [ ]:
# And if we want to see only the counts of each sex of the DataFrame:

grouped_data.describe()["record_id"]["count"]

In [ ]:
# We can also do basic math on numeric columns of the DataFrame:

weight_doubled = surveys_df["weight"] * 2
print(surveys_df["weight"], weight_doubled)

In [ ]:
# Count the number of samples by species:

species_counts = surveys_df.groupby('species_id')['record_id'].count()
print(species_counts)

### Displaying a graph of data from the *surveys* DataFrame:

In [38]:
# Install the plotting library "matplotlib"

!pip install matplotlib

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting matplotlib
  Downloading matplotlib-3.3.2-cp37-cp37m-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 3.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Collecting certifi>=2020.06.20
  Downloading certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
     |████████████████████████████████| 156 kB 38.5 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.19.2)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 6.8 MB/s  eta 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.2.0-cp37-cp37m-manylinux1_x86_64.whl (88 kB)
     |████████████████████████████████| 88 kB 8.5 MB/s  eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-7.2.0-cp37-cp37m-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 48.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.14.0)
Installing collected packages: certifi, cycler, pyparsing, kiwisolver, pillow, matplotlib
  Attempting uninstall: certifi
    Found existing installation: certifi 2019.11.28
    Uninstalling certifi-2019.11.28:
      Successfully uninstalled certifi-2019.11.28
Successfully installed certifi-2020.6.20 cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.2 pillow-7.2.0 pyparsing-2.4.7

In [39]:
# Make sure figures appear inline in the Notebook with the built-in magic %

%matplotlib inline

In [ ]:
# Create a quick bar chart of specie counts

species_counts.plot(kind='bar');

In [ ]:
# We can also look at how many animals were captured in each site:

total_count = surveys_df.groupby('plot_id')['record_id'].nunique()
total_count.plot(kind='bar');